<html>
<title>Mbeet Email</title>
  <body>
    <table align="center">
      <tr>
        <td colspan="2">
          <img src="http://mbeetapp.com/email_images/Mbeet_2.png" alt="image body">
        </td>
      </tr>
      <tr>
        <td valign="top" rowspan="0">
          <img src="http://mbeetapp.com/email_images/Mbeet_1.png" alt="image mobile">
       </td>
      <td valign="top" align="center">
        <img src="http://mbeetapp.com/email_images/Mbeet_3.png" alt="image word">
        <br /> <br />
         <p style="max-width: 300px;">
           <% if I18n.locale == :en %>
             <p style="color:#000">
                Your unit <strong> <%= @unit.title %></strong> has been Booked By <%= @user.name %> <br>
             </p>

             <p style="color:#000">
                Customer Information
                Name: <%= @user.name %><br>
                Phone: <%= @user.phone %> <br>
                Check in date: <%= @booking.check_in.strftime("%Y-%m-%d") %> <br>
                checkout Date: <%= @booking.check_out.strftime("%Y-%m-%d") %> <br>
             </p>

             <% else %>

             <p style="color:#000">
                لقد تم جحز شقتك من قبل <%= @user.name %>
             </p>

             <p style="color:#000">
               معلومات الحاجز
                 الاسم : <%= @user.name %> <br>
                 رقم التلفون : <%= @user.phone %> <br>
                 تـاريخ الدخول: <%= @booking.check_in.strftime("%Y-%m-%d") %> <br>
                 تـاريخ الخروج: <%= @booking.check_out.strftime("%Y-%m-%d") %> <br>
             </p>
           <%end%>
        </p>
       </td>
     </tr>
     <tr>
       <td colspan="2" align="center">
         <center>
            <a style="text-decoration:none" href="https://itunes.apple.com/sa/app/mbeet/id1211098527?mt=8" target="_blank">
              <img src="http://mbeetapp.com/email_images/Mbeet_app_store.png" alt="Mbeet_app_store">
            </a>
            <a style="text-decoration:none" href="https://play.google.com/store/apps/details?id=com.mbeet" target="_blank">
              <img src="http://mbeetapp.com/email_images/Mbeet_googleply.png" alt="Mbeet_googleply">
            </a>
         </center>
      </td>
     </tr>
   </table>
  </body>
</html>
