<html>
<title>Mbeet Email</title>
  <body>
    <table align="center">
      <tr>
        <td colspan="2">
          <img src="http://mbeetapp.com/email_images/Mbeet_2.png" alt="image body">
        </td>
      </tr>
      <tr>
        <td valign="top" rowspan="0">
          <img src="http://mbeetapp.com/email_images/Mbeet_1.png" alt="image mobile">
       </td>
      <td valign="top" align="center">
        <img src="http://mbeetapp.com/email_images/Mbeet_3.png" alt="image word">
        <br /> <br />
         <p style="max-width: 300px;">
           <% if I18n.locale == :en %>

             <p style="color:#000">
                Name : <strong> <%= @contact_us[:name] %></strong> <br>
                Email : <strong> <%= @contact_us[:email] %></strong> <br>
                Phone Number : <strong> <%= @contact_us[:phone] %></strong> <br>
                Message : <strong> <%= @contact_us[:message] %></strong> <br>
                Country : <strong> <%= @contact_us[:country] %></strong> <br>
             </p>

             <% else %>

               <p style="color:#000">
                  اسم : <strong> <%= @contact_us[:name] %></strong> <br>
                  البريد الإلكتروني : <strong> <%= @contact_us[:email] %></strong> <br>
                  رقم الهاتف : <strong> <%= @contact_us[:phone] %></strong> <br>
                  رسالة : <strong> <%= @contact_us[:message] %></strong> <br>
                  بلد : <strong> <%= @contact_us[:country] %></strong> <br>
               </p>

              <%end%>
        </p>
       </td>
     </tr>
     <tr>
       <td colspan="2" align="center">
         <center>
            <a style="text-decoration:none" href="https://itunes.apple.com/sa/app/mbeet/id1211098527?mt=8" target="_blank">
              <img src="http://mbeetapp.com/email_images/Mbeet_app_store.png" alt="Mbeet_app_store">
            </a>
            <a style="text-decoration:none" href="https://play.google.com/store/apps/details?id=com.mbeet" target="_blank">
              <img src="http://mbeetapp.com/email_images/Mbeet_googleply.png" alt="Mbeet_googleply">
            </a>
         </center>
      </td>
     </tr>
   </table>
  </body>
</html>
