<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <script>
      var url = "mbeet://" + <%= @unit_id %>

      function getMobileOperatingSystem() {
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;

        if (/android/i.test(userAgent)) {
          return "Android";
        }

        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
          return "iOS";
        }

        return "unknown";
       }</script>

    <script>
      function DetectAndServe(){
        if (getMobileOperatingSystem() == "Android") {
          window.location.replace(url);
          setTimeout(function(){window.location.replace("https://play.google.com/store/apps/details?id=com.mbeet&hl=en")}, 10);
        }
        if (getMobileOperatingSystem() == "iOS") {
          setTimeout(function(){window.location.replace("https://itunes.apple.com/sa/app/mbeet/id1211098527?mt=8")}, 5);
          window.location.replace(url);
        }
        if (getMobileOperatingSystem() == "unknown") {
          window.location.replace("http://mbeetApp.com");
        }
      };
        DetectAndServe();
    </script>
  </head>
  <body>
  </body>
</html>
